/* -- Your Styles Here -- */

body {
  background: #FFF;
  font-family:  sans-serif;
  color: #222;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
}

#captionInput {;
  white-space: pre-wrap;
  min-height: 300px;
  background: #fff;
  font-size: 21px;
  padding: 28px;
  border-radius: 6px;
  font-weight: normal;
  border: 1px solid #222;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

#captionInput:focus {
  outline: none;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #bbb;
}

[placeholder]:empty:focus::before {
    content: "";
}


.copyButton {
  padding: 16px 21px;
  background: #147793;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  display: block;
  border: 1px solid #025773;
  border-right-width: 3px;
  border-bottom-width: 3px;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
}
.copyButton:hover {
  cursor: pointer;
}

#reset {
  display: none;
}
